body {
  background: lightblue;
  text-align: center;
}
.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Transform*/

img {
  /* transform: translate(200px, 200px); */
  /* transform: scale(2, 0.5); */
  /* transform: rotateX(60deg); */
  /* transform: rotateY(60deg); */
  transform: rotateZ(-60deg) translateY(200px) scale(2);
}
